:root {

  /* Fonts */
  --font-primary: 'Manrope', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --color-secondary-rgb: 89, 109, 128;
  --color-secondary-light: #f3f6ff;
  --color-secondary-dark-rgb: 64, 79, 92;

  --color-theme-rgb:99, 102, 241;

  --color-black:#000;
  --color-black-rgb:0, 0, 0;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;

}

/* Fonts */
.font-default { font-family: var(--font-default) !important; }
.font-primary { font-family: var(--font-primary) !important;}
.font-secondary { font-family: var(--font-secondary) !important; }

/* Background Colors */
.bg-secondary { background-color: var(--color-secondary-light) !important; }
.bg-white { background-color: var(--color-white) !important; }