:root {

  /* Fonts */
  --font-primary: 'Manrope', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --color-primary-rgb:0, 97, 242;

  --color-black-rgb:0, 0, 0;
  --color-white-rgb: 255, 255, 255;

}

/* Fonts */
.font-primary { font-family: var(--font-primary) !important;}
.font-secondary { font-family: var(--font-secondary) !important; }

/* Background Colors */
.bg-secondary { background-color: rgb(var(--color-primary-rgb), 0.05) !important; }
.bg-white { background-color: var(--color-white) !important; }